body {
  background-color: green;
  color: whitesmoke;
  font-family: Arial;
}

h1 {
  color: whitesmoke;
  font-family: Arial;
}

h2 {
  color: whitesmoke;
  font-family: Arial;
}

h3 {
  color: whitesmoke;
  font-family: Arial;
}

h4 {
  color: whitesmoke;
  font-family: Arial;
}

h5 {
  color: whitesmoke;
  font-family: Arial;
}

h6 {
  color: whitesmoke;
  font-family: Arial;
}

p {
  color: whitesmoke;
  font-family: Arial;
}

li {
  color: whitesmoke;
  font-family: Arial;
}
